
body {
  font-size: 4.6vw;
}

.rslider {
  position: relative;
  display: inline-block;
  margin: 0 auto 0 auto ;
  z-index:1;
  width: 20%;
}

.rs-range-color {
  background-color: white;
  
}

.rs-path-color  {
  background-color: hsl(210, 100%, 57%);
}

#navigationBar {
  position: fixed;
  top: 0;
  z-index: 4;
}

.navigationItem {
  float: left;
  height: 15vw;
  margin: auto;
  text-align: center;
  font-size: 5vw;
  line-height: 15vw;
  border-bottom: solid;
  border-width: 0 1px;
  border-color: #081B50;
  border-width: 1px;
  border-radius: 4px 4px 0 0; 
  color: #081B50;
  background-color: white;
}

#firstNav {
  width: 26vw;
  font-stretch: extra-condensed;
  font-size: 8vw;
  font-weight: bold;
}

#secondNav {
  width: 37vw;
  font-size: 6vw;
}

#thirdNav {
  width: 37vw;
  font-size: 6vw;
}

#today {
  margin-top: 18vw;
}

.form-control {
  text-align: center;
}

#bitmoji-image{
  position: relative;
  display: block;
  height: 30%;
  margin: 5% auto -5% auto;
  z-index: 2;
}

.nav-item{
  font-family: 'Roboto';
  font-size: 110%;
  color: #081B50;
}

.navbar-brand{
  font-family: 'Roboto';
  font-weight: bold;
}

#form {
  width: 85%;
  margin: auto;
  margin-bottom: 5%;
}

.input-group {
  margin-top: 8%;
  margin-bottom: 2%;
}

#descrOfDay {
  font-size: 5vw;
  font-family: 'Roboto';
  color: #081B50;
  border: solid;
  border-width: 0 1px;
  border-color: #081B50;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
  z-index: 1;
}

#descrOfDay::-webkit-input-placeholder {
  color: #787F96 !important;
  }
   
  #descrOfDay:-moz-placeholder { /* Firefox 18- */
  color: #787F96 !important;  
  }
   
  #descrOfDay::-moz-placeholder {  /* Firefox 19+ */
  color: #787F96 !important;  
  }
   
  #descrOfDay:-ms-input-placeholder {  
  color: #787F96 !important;  
  }



#moodIn{
  display: none;
}

#tableClicked {
  display: none;
}

#titleW{
  display: none;
}

.formsub{
  margin-top: 0;
}

#descrAndMediaDiv {

}


.hideInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


#diaryLabel {
  float: left;
  width: 18vw;
  height: 27vw;
  margin-top: 5vw;
  border: solid;
  border-width: 0 1px;
  border-color: #081B50;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
}

#diaryIcon {
  margin: 3vw auto 0 auto;
  display: block;
  width: 69%;
}

#diaryText {
  text-align: center;
  color: #081B50;
  margin-top: 1vw;
}

#mediaLabel {
  float: left;
  width: 18vw;
  height: 27vw;
  margin-top: 5vw;
  border: solid;
  border-width: 0 1px;
  border-color: #081B50;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
}

#mediaLabelIcon {
  margin: 1.4vw auto 0 auto;
  display: block;
  width: 87%;
}

#mediaLabelText {
  text-align: center;
  color: #081B50;
  margin-top: 1vw;
}

#submitRightLabel {
  float: right;
  width: 18vw;
  height: 27vw;
  margin-top: 5.5vw;
  margin-right: 1vw;
  padding: 0 0 0 0;
}

#submitRightIcon {
  display: block;
  width: 90%;
  margin: 2vw auto 0 auto;
}

#submitRightText {
  text-align: center;
  color: #081B50;
  margin-top: 1vw;
}


#diaryTextArea {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-image: -webkit-linear-gradient(white 35px, #081B50 35px, #081B50 36px);
  background-image: -moz-linear-gradient(white 35px, #081B50 35px, #081B50 36px);
  background-image: -ms-linear-gradient(white 35px, #081B50 35px, #081B50 36px);
  background-image: -o-linear-gradient(white 35px, #081B50 35px, #081B50 36px);
  background-image: linear-gradient(white 35px, #081B50 35px, #081B50 36px);
  background-size: 100% 36px;
  line-height: 36px;
  font-size: 115%;
  font-family: "Bradley Hand";
  height: 0;
  visibility: hidden;
  -webkit-transition: height 1.5s; /* Safari */
  transition: height 1.5s;
  color: #081B50;
  padding-left: 7%;
  padding-right: 7%;
  resize: none;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: none;
}

#diaryEntryHeader {
  top: 15vw;
  height: 40px;
  width: 100%;
  display: none;
  position: absolute;
  z-index: 6;
  background-color: white;
  border-bottom: solid;
  border-width: 0 1px;
  border-color: #081B50;
  border-width: 1px;
  border-radius: 4px 4px 0 0; 
  
}

 #tickButton {
  display: block;
  margin: 4px auto 0 77%;
  padding: 0;
} 

#diaryEntryTick {
  display: block;
  margin: 1px auto 0 auto;
  height: 30px;
}

/*
inputpage.html
*/
.inputIcon {
  border-color: black;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
  background-color: white;
  width: 100%;
}

#button0 {
  margin-left: 10vw;
  font-weight: bold;
  display: block;
}


.buttonLayout {
 
  height: auto;
  margin-left: 25%;
  display: block;
  width: 50%;
  justify-content: center;
}

.buttonCustom {
  margin-top: 10%;
  margin-bottom: 2%;
  float: left;
  display: block;
  width: 20vw;
  height: 17vw;
  border-color: black;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
  background-color: #A2EAFF;
  
}

.iconSymbol {
  font-size: 300%;
}

#textContainer {
  clear: both;
  width: 80%;
  margin: auto;
  display: block;
  height: 60%;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
}

.tabContent {
  display: none;
}

#textArea {
  width: 100%;
  height: 100%;
}

#photoArea {
  display: inline-block;
  width: 100%;
  margin: auto;
  background-color: #3CBC8D;
  align-items: center;
  margin-top: 50%;
}


.para {
  margin-top: 50%;
  text-align: center;
}

.labelIcons {
  font-size: 300%;
  display: block; 
  text-align: center;
}

#submitInput {
  display: block;
  margin: auto;
  margin-top: 2%;
  width: 100%;
  background-color: #081B50; 
  border-color: #081B50;
}

#dayd{
  display: none;
}

#table {
  width: 100%;
  margin-top: 15vw;
}

.firstColumnDay {
  width: 10%;
  padding-right: 1%;
  padding-left: 1%;
  background-color: #081B50;
  border-right: 1px solid #081B50;
  border-top: 1px solid white;
  color: white;
}

.fourthColumnText {
  font-size: 4.7vw;
}

.material-icons {
  padding-top: 0.6vw;
  font-size: 4.8vw;
}


#table tr {
  border-bottom: 1px solid #081B50;
  border-top: 1px solid #081B50;
  height: 20%;
}

.dateText {
  text-align: right;
  font-size: 100%;
  color: #DDEEF4;
}

.dayText {
  font-size: 15vw;
  text-align: center;
}

.bitmojiImageInTable{
  display: block;
  height: 20vw;
  margin: 0 auto;
  margin-top: 0;
}

#bitmojiDayView {
  float: left;
  width: 25%;
  margin-top: 33vw;
  margin-left: 8vw;
}

#dayDayView {
  font-weight: bold;
  font-size: 13vw;
  text-align: right;
  margin: 29vw 8vw 0 0;
  width: 55%;
  float: right;
  color: #081B50;
}

#dateDayView {
  font-size: 100%;
  text-align: right;
  float: right;
  width: 55%;
  margin: 0 8vw 10% 0;
  color: #081B50;
}



#threeWordsDayView {
  font-size: 150%;
  font-weight: bold;
  text-align: left;
  margin-left: 8vw;
  clear: both;
  color: #081B50;
}

.imageDayView {
  width: 25vw;
  margin-top: 3%;
  margin-bottom: 4%;
}

#firstImageDayView {
  margin-left: 8vw;
  float: left;
}

#secondImageDayView {
  margin-left: 4.5vw;
  float: left;
}

#thirdImageDayView {
  float: right;
  margin-right: 8vw;
}


#textDayView {
  margin-left: 8vw;
  margin-right: 8vw;
  text-align: justify;
  clear: both;
  color: #081B50;
  font-size: 90%;
}

